<h1>Your Tamagotchi is <%=@pet.name%></h1>

<div class="message">
  <% if @info.class == Hash %>
    <% if !@info["alive"] %>
      <p><%= @pet.name %> is dead.<p>
      <a href="/">Hatch a new Tamagotchi.</a>
    <% else %>
      <p>Health: <%= @info["health"] %></p>
      <p>Rest: <%= @info["rest"] %></p>
      <p>Happiness: <%= @info["happiness"] %></p>
    <% end %>
  <% else %>
    <p><%= @info %><p>
  <% end %>
</div>

<% if @pet.status["alive"] %>
  <div class="actions">
    <form action="/tamagotchi/check" method="post">
      <button type="submit" class="btn">Check</button>
    </form>

    <form action="/tamagotchi/feed" method="post">
      <button type="submit" class="btn">Feed</button>
    </form>

    <form action="/tamagotchi/nap" method="post">
      <button type="submit" class="btn">Nap</button>
    </form>

    <form action="/tamagotchi/play" method="post">
      <button type="submit" class="btn">Play</button>
    </form>
  </div>
<% end %>
